*{
    margin: 0;
    padding: 0;
    border: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    width: 100%;
}
#right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    height: 60px;
    width: 160px;
}
#left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 14px;
    font-weight: 100;
    height: 60px;
    width: 195px;
}
.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 130px;
}
.images #pointbox{
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    width: 20px;
}
#firstrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    height: 5px;
    width: 20px;
}
#firstrow .point1{
    height:4px;
    width:4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}
#firstrow .point2{
    height:4px;
    width:4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}
#firstrow .point3{
    height:4px;
    width:4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}

#secondrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    height: 5px;
    width: 24px;
}

#secondrow .point1{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}
#secondrow .point2{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}
#secondrow .point3{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}

#thirdrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    height: 5px;
    width: 20px;
}

#thirdrow .point1{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}
#thirdrow .point2{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}
#thirdrow .point3{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    border: none;
}
img{
    margin-right: 60px;
    height: 35px;
    width: 35px;
    border-radius: 50%;

}
#main-part-display{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height:calc(100% - 155px);
    width: 100%;
    background-color: white;
}
p{
    height:120px;
    width: 310px;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 100px;
}
span{
margin: -10px;
}
.g{
   color: rgb(129, 129, 197);
}
.o{
   color:rgba(250, 63, 58);
}.oo{
   color: #ffbd00
}.gg{
   color: rgb(124, 137, 198);
}.l{
   color: rgba(1, 175, 86);
}.e{
   color: rgba(250, 63, 58);
}
#searchbar{
    background-color: #fffffd;
    height: 50px;
    border: 1px solid rgb(68, 66, 66);
    border-radius: 20px;
    width: 600px;
    font-size: 20px;
    font-weight: 100;
    color: black;
}

#multiple{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    margin-right: 550px;
    background-color: rgba(240, 241, 243); 
}
#multiple:hover{
    background-color: rgba(34, 32, 32, 0.402);
}
 #mic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-top: 250px;
    margin-left: 300px;
} 
 #camera {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
   font-size: 23px;
    margin-top: 248px;
    margin-left: 360px;
} 
#Ai {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    height: 35px;
    width: 85px;
    margin-top: 246px;
    margin-left: 500px;
    background-color: rgba(240, 241, 243);
    border-radius: 10px;
} 
footer{
    height: 100px;
    width: 100%;
    background-color: rgba(227, 232, 237, 0.63);
}
.footer-top{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}
 #ind{
     margin-left: 20px;
}
#line{
    border: 1px solid rgba(199, 204, 210, 0.63);
    width: 100%;
}
#footerbottom{
    display: flex;
    height: 50px;
    width: 100%;
}
#footerbottom #left{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    height: 50px;
    width: 360px;
}
#footerbottom #right{
    font-size: 16px;
    margin-left: 945px;
    height: 50px;
    width: 250px;
}
#btn{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}
button{
    cursor: pointer;
    height: 35px;
    width: 125px;
    border-radius: 10px;
    background-color: rgba(240 , 241 , 243);
    text-align: center;
}
#paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
   height: 25px;
   width: 100%;
   overscroll-behavior-y: none;
}
