*{
  margin: 0;
  border: 0;
}
body{
  height: 100vh;
  background-color: #676363;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  
}
#container{
  height: 672px;
  width: 360px;
  background-color: #ffffff;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}
#container:hover{
  border:2px solid aqua;
  transform: scale(1.02);
  transition: .2s;
}
img{
  height: 336px;
  width: 359px;
  cursor: progress;
}
img:hover{
  border: 2px solid aqua;
  border-bottom: none;
  transform: scaleY(1.02);
  transition: .2s;
}
h3{
  width: 105px;
  text-align: center;
  margin-top: 25px;
  color: #3c3f45;
  font-size: 14px;
  font-weight: 2px;
  display: flex;
  margin-left: 130px;
  margin-bottom: 20px;
}
#content{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 297px;
  width: 360px;
  background-color:#ffffff;
  direction: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#content img{
  height: 24px;
  width: 38px;

}

/* yaha se ai se likhwaya hai*/
/* इनपुट बॉक्स और प्लगइन के कंटेनर को पूरा चौड़ा (Full Width) करने के लिए */
.iti {
    width: 100%;
    margin-bottom: 0px;
  margin-left: 20px;
}

/* फ़ोन नंबर वाले इनपुट बॉक्स की स्टाइलिंग */
#phone {
    width: 320px;
    height: 45px;
    padding-left: 10px;
    border: 2px solid #9f9f9f;
    border-radius: 7px;
    font-size: 16px;
    box-sizing: border-box;
  
}
#phone::placeholder{
  color: #b9bcc7;
}

/* कंटिन्यू बटन की स्टाइलिंग */
.login-btn {
    width: 320px;
    height: 50px;
    background-color: #ef4f5f; /* Zomato जैसा रेड कलर */
    margin-left: 20px;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    
}
/*yaha tak ai ne phone number ka iti likha hai*/
.login-btn:hover {
    background-color: #3560e0; 
    transform: scale(1.10);
    transition: .02s;
}

.checkbox{
  cursor: progress;
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
}
#check{
  direction: flex;
  margin-left: -15px;
  margin-bottom: 5px;
  position: relative;
  height: 22px;
  width: 17px;
  
}
a{
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top:9px;
}
#google{
  height: 35px;
  width: 65px;
  margin-left: -12px;
  margin-top: 5px;
}
#googlebutton {
  margin-left: -100px;
  margin-top: -192px;
  height: 55px;
  width: 55px;
  cursor: pointer;
  border: 2px solid #d9d6d6;
  background-color: #ffffff;
  border-radius: 100%;
}
#googlebutton:hover{
background-color: #a4555d;
transform: scale(1.3);
transition: .2s;
}
.xyz{
  align-items: center;
  position: relative;
  justify-content: center;
  display: flex;
}
#sms{
 height: 45px;
  width: 65px;
  margin-left: -12px;
  margin-top: 2px;
}
#goo{
  margin-left: 70px;
  margin-top: -192px;
  cursor: pointer;
  height: 55px;
  width: 55px;
  border: 1px solid #d9d6d6;
  background-color: #ffffff;
  border-radius: 100%;
  position: absolute;
  
}
#goo:hover{
background-color: #a4555d;
transform:(1.3);
transition: .2s;
}
.xxx{
  align-items: center;
  position: relative;
  justify-content: center;
  display: flex;
}

.text{
  position: relative;
  left:28px;

top: 92px;
}
#line1{
  position: relative;
  left: 50px;
  color: #34373e;
}
#line2{
  position: relative;
  color: #34373e;
}
#dot{
  position: absolute;
  font-size: 12px;
  bottom: -8px;
  color:#3c3f45;
  
}
.text:hover{
  transform: scale(1.02);
  transition: .2s;
}
